<div class="about-first">
    <div class="about-first-left">
        <div class="about-first-left-border">
            <div class="about-first-titel" data-aos="fade-right" data-aos-duration="1000">

                    <a>Hi, <br>
                    I am <a class="txt-red">Osman</a><br>
                    Front End Developer<br></a>
            </div>
            <div class="about-first-contact" data-aos="fade-up-right" data-aos-duration="2000">

                <a href="#contact"><button class="button">Contact me</button></a>

            </div>
        </div>
    </div>
    <div class="about-first-right" data-aos="zoom-in-up" data-aos-duration="2000">

        <img src="assets/img/profile-pic.jpg">


    </div>
    <div class="read-more">
        <a href="#skills" class="circle"> </a>
        <a href="#skills" class="arrow"></a>



    </div>

</div>