.about-first {
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100vh;
    box-sizing: border-box;


    .normal{
         border-bottom-width: 3px !important;
         border-right-width: 3px !important;
         border-left-width: 3px !important;
         border-top-width: 3px !important;
    }

    .hovered{
        border-bottom-width: 4px !important;
        border-right-width: 4px !important;



    }

    .about-first-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;


        .read-more {

            padding-bottom: 30px;
            position: absolute;
            left: 0px;
            bottom: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;



        }

        .read-more img {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 45px;
            object-fit: contain;
        }

        .arrow {

            box-sizing: border-box;
            height: 15px;
            width: 15px;
            border-style: solid;
            border-color: white;
            border-width: 0px 2px 2px 0px;
            transform: rotate(45deg);
            transition: border-width 150ms ease-in-out;
        }

        .arrow:hover {
         //   border-bottom-width: 4px;
         //   border-right-width: 4px;


        }

        .circle {
            margin-top: 10px;
            position: absolute;
            border: 1px solid #fff;
            height: 40px;
            width: 40px;
            border-radius: 100%;
     
        }

        .circle:hover {
         /*   border-bottom-width: 3px;
            border-right-width: 3px;
            border-top-width: 3px;
            border-left-width: 3px;*/
        }

        .fade-in {
            font-family: Arial;
            font-size: 60px;
            animation: fadeIn 5s;
            -webkit-animation: fadeIn 5s;
            -moz-animation: fadeIn 5s;
            -o-animation: fadeIn 5s;
            -ms-animation: fadeIn 5s;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @-moz-keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @-o-keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @-ms-keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }





}

.about-first-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -500px;

}

.about-first-left-border {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-first-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: -500px;

    .background-circle {
        background-color: #FA2759;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 122px;
        border: 1px solid black;
        text-align: center;
    }

    img {

        height: 300px;
        width: 300px;
        border-radius: 150px;
        border: 1px solid black;
    }
}

.about-first-titel {
    font-size: 64px;
    font-weight: 600;
    padding-top: 18px;

    .txt-red {
        color: #FA2759;
    }
}

.about-first-contact {
    .button {
        margin-top: 50px;
        background-color: black;
        color: #2DFCD8;
        border: 2px solid #2DFCD8;
        font-size: 20px;
        font-weight: 700;
        height: 50px;
        width: 180px;
        transition: all 225ms ease-in-out;
    }

    .button:hover {
        background-color: #2DFCD8;
        color: black;
        cursor: pointer;
    }
}


@media(max-width: 870px) {


    .about-first-container {
        flex-direction: column;


        .about-first {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;


            

            .about-first-titel {
                font-size: 35px;
                text-align: center;
            }


            .read-more {
                display: none;

            }
        }
    }

    .about-first-left {

        height: auto;
        margin-top: 0px !important;
    }

    .about-first-right{
        margin-bottom: 200px;
    }


    .button {
        margin-bottom: 15px;
    }

    .about-first-left-border {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}


@media(max-width: 550px) {



    .about-first-titel {
        font-size: 35px;

    }




}