<div class="about-first">
    <div class="about-first-left">
        <div class="about-first-left-border">
            <div class="about-first-titel">
                <p>Hi, <br>
                    I am Batman<br>
                    Front End Developer<br>
            </div>
            <div class="about-first-contact">

                <button class="button">Contact</button>

            </div>
        </div>
    </div>
    <div class="about-first-right">
        <img src="./../../assets/img/batman.png">
    </div>
    <div class="read-more">
        <div>

        </div>
        <a href="#skills"><img src="./../../assets/img/arrow.png"></a>
    </div>

</div>

