.works {

    h2 {
        text-align: center;
    }

    .box {
        width: 405px;
        height: 200px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.8);
        transition: all 500ms ease-in-out;
    }

    .hidden {
          display: none;
    }

    .visuallyhidden {
        opacity: 0;
    }




    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: 600;

    .works-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 1200px;


        .works-info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            flex-wrap: wrap;
            padding-bottom: 30px;
            /*
            
            max-width: 100%;
            margin-left: 120px;
            margin-right: 120px;

*/
        }


        .myWorkTabs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100vw;
            max-width: 100%;
        }



        .row {
            display: flex;
            flex-direction: row;
        }

        .titel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            max-width: 100%;
            margin-bottom: 20px;
            font-size: 30px;

        }

        .work-row {
            display: flex;
            flex-direction: column;



        }

        .work-cont {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            background-color: gray;
            height: 200px;
            width: 405px;
            margin-left: 20px;
            margin-right: 20px;


        }

        .icon {
            height: 40px;
            position: relative;
            top: -20px;
            left: 80px;
        }



        .myWorkTab {
            margin-left: 5px;
            margin-right: 5px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .work1 {
            background-image: url("./../../assets/img/elpolloloco.png");
            background-repeat: no-repeat;
            background-size: cover;

        }

        .work2 {
            background-image: url("./../../assets/img/pokedex.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .work3 {
            background-image: url("./../../assets/img/ringoffire.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .work4 {
            background-image: url("./../../assets/img/supergram.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .work5 {
            background-image: url("./../../assets/img/ibo.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .work6 {
            background-image: url("./../../assets/img/iko.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .button {
            background-color: black;
            color: #FA2759;
            border: 2px solid #FA2759;
            font-size: 10px;
            height: 50px;
            width: 180px;
        }

        .button:hover {
            background-color: #FA2759;
            color: white;
            cursor: pointer;
            transition: all 225ms ease-in-out;
        }

        .d-none {
            display: none;
        }

    }
}

.buttonActive {
    background-color: #FA2759 !important;
    color: white !important;
}

.hoverActive {
   display: none;
    width: 405px;
    height: 200px;
    cursor: pointer;


}

.hoverDeactive {
    display: none;
    width: 405px;
    height: 200px;
    cursor: pointer;
}

.bgOp {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textMargin {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.textMarginTitle {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.btnNew {
    background-color: rgba(0, 0, 0, 0.5) !important;

    .btnNew:hover {
        background-color: #FA2759 !important;
        color: white;
        transition: all 225ms ease-in-out;
    }
}

.titel {
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
}





@media(max-width: 1070px) {

    .works {
        .works-container {
            .works-info {
                justify-content: center;
                margin-left: 0px !important;
                margin-right: 0px !important;
                justify-content: center;
            }
        }


    }


}



@media(max-width: 550px) {


    .works {

        .box{
            width: 100% !important;
        }

        .works-container {

            .titel {
                text-align: center;

            }
            

            .row {
                display: flex;
                flex-direction: column;
            }


            .work-cont {

                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;
                background-color: gray;
                height: 150px;
                width: 300px;


            }

            .works-info {
                justify-content: center;
                margin-left: 0px !important;
                margin-right: 0px !important;



                .textMargin {
                    font-size: 12px;
                    margin-bottom: 5px;
                    text-align: center;
                    margin-left: 51px;
                    margin-right: 51px;
                }

                .textMarginTitle {
                    font-size: 12px;
                    color: #FA2759;
                    margin-bottom: 0px !important;

                }

                .btnNew {
                    background-color: rgba(0, 0, 0, 0.5) !important;
                    height: 20px !important;
                    width: 100px;

                    .btnNew:hover {
                        background-color: #FA2759 !important;
                        color: white;
                        height: 20px !important;
                        width: 100px;
                        transition: all 225ms ease-in-out;
                    }
                }
            }

            .work-cont {

                height: 150px;
                width: 300px;
            }

            .button {
                background-color: black;
                color: #FA2759;
                border: 2px solid #FA2759;
                font-size: 10px;
                height: 50px;
                width: 80px;
            }



            .work1 {
                background-image: url("./../../assets/img/elpolloloco.png");
                background-repeat: no-repeat;
                background-size: cover;
                height: 150px;
                width: 300px;

            }

            .work2 {
                background-image: url("./../../assets/img/pokedex.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }

            .work3 {
                background-image: url("./../../assets/img/ringoffire.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }

            .work4 {
                background-image: url("./../../assets/img/supergram.png");
                background-repeat: no-repeat;
                background-size: cover;
            }

            .work5 {
                background-image: url("./../../assets/img/ibo.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }

            .work6 {
                background-image: url("./../../assets/img/iko.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }


            .myWorkTabs {

                flex-direction: column;

            }

            .myWorkTab {
                margin-left: 5px;
                margin-right: 5px;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 5px;
            }


        }




    }



    .hoverDeactive {
        width: 300px;
        height: 150px;
        cursor: pointer;
        transition: all 225ms ease-in-out;
    }

}