<div class="works" id="works">

    <div class="titel">
        My work
    </div>
    <div class="myWorkTabs">
        <div class="myWorkTab">
            all
        </div>
        <div class="myWorkTab">
            angular
        </div>
        <div class="myWorkTab">
            java script
        </div>
    </div>
    <div class="works-info">
        <div class="work-row">
            <div class="work-cont">
                Work1
            </div>
            <div class="work-cont">
                Work2
            </div>
        </div>
        <div class="work-row">
            <div class="work-cont">
                Work3
            </div>
            <div class="work-cont">
                Work4
            </div>
        </div>




    </div>
</div>