<div class="contact" id="contact">

  <div class="contact-titel">
    Contact me
  </div>
  <div>
    Get in touch via the form below.
  </div>

  <div class="contactContainer">

    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" ngNativeValidate >
      <div class="elem-group">
        <label for="name">Name</label>
        <input class="textfield" type="text" id="name" name="name" placeholder="Enter your name"   ngModel #name="ngModel" 
          pattern=[A-Z\sa-z]{3,20} required>
      </div>


      <div class="elem-group">
        <label for="email">E-mail adress</label>
        <input class="textfield" type="email" id="email" name="email" placeholder="Enter your E-mail adress" ngModel #email="ngModel"
          required>
      </div>


      <div class="elem-group">
        <label for="message">Message</label>
        <textarea class="textfield" id="message" name="message" placeholder="Enter your message" ngModel #message="ngModel"
          required></textarea>
      </div>


      <div class="btnContainer">
        <div *ngIf="toggleText" @onOff class="text-style">Thanks! I will respond as soon as possible</div>
        <button [class.sendBtn]="myForm.valid" type="submit">Send</button>
      </div>
      <div class="reportBox pt-2">
        <p class="text-white">{{ submitReport }}</p>
    </div>

    </form>
  </div>
</div>


