.contact {
  
  padding-top: 10px;
  padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    max-width: 100%;
    background-color: black;
    color: white;
    font-weight: 600;
}

.contactContainer{
  padding-bottom: 20px;
}

input{
    background-color: rgb(30, 30, 30);
}

textarea{
    background-color: rgb(30, 30, 30);
}

div.elem-group {
    margin: 40px 0;
    color: white;
  }
  
  label {
    display: block;

    padding-bottom: 4px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    border: 0px solid #ccc;
    box-sizing: border-box;
    font-size: 1.25em;

    width: 500px;
    padding: 8px;
  }
  
  textarea {
    height: 250px;
    resize: none;
  }
  
  button {
    background-color: black;
    color: #2DFCD8;
    border: 2px solid #2DFCD8;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 180px;
    transition: all 225ms ease-in-out;
}

button:hover {
    background-color: #2DFCD8;
    color: black;
    cursor: pointer;
}

.btnContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.textfield{
    color: white;
}

.contact-titel{
  padding-top: 40px;
  font-size: 40px;
  color: #2DFCD8;
}

@media(max-width: 550px) {
  input, select, textarea {
    width: 300px;

  }

}