header {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: center;


    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;

        a {
            color: white;
            text-decoration: none;
            margin-left: 32px;
            font-weight: 500;
            font-family: 'Open Sans', sans-serif;
    
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    
        img {
            height: 50px;
            cursor: pointer;
        }
    }

    
}


.darkLinks {
    a {
        color: white;

        &:hover {
            color: #FA2759;
        }
    }
}

.headerDark {

    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    color: white;
}

.menuRight {
    display: flex;
    flex-wrap: wrap;
}

.menuHeader {
    display: flex;

}

.menuIcon {
    display: none;
}

.menu {
    display: none;
}

@media(max-width: 550px) {
    .menu{
        display: flex;
        flex-direction: column;
    }

    header {
        padding-left: 60px;
        padding-right: 60px;
    }

    .menuIcon {
        display: flex;
        height: 20px !important;
    }

    .menuText {
        display: none;
    }

    .menu-container {
        width: 200px;
        background: #04aa6d;
        font-size: 20px;
        display: flex;
    }

    .menu-toggler {
        padding: 10px;
    }

    .menu {
        color: #fff;
        padding: 10px;
    }

    .menu-item {
        cursor: pointer;
        padding: 5px 0;
    }

    .menu-item:hover {
        text-decoration: underline;
    }
}