<header class="menuHeader" [class.headerDark]="darkMode">


    <img *ngIf="!darkMode" routerLink="/" src="assets/img/osmanlogomini.png">
    <img *ngIf="darkMode" routerLink="/" src="assets/img/osmanlogomini.png">

    <div class="menuRight" [class.darkLinks]="darkMode">
        <div>


            
                <div class="menu-toggler" (click)="toggleMenu()"><img class="menuIcon" *ngIf="darkMode" routerLink="/"
                        src="assets/img/menu_icon.png"></div>
                <div class="menu" *ngIf="isMenuOpened">
                    <div class="menu-item"><a routerLink="/">HOME</a></div>
                    <div class="menu-item"><a href="#about-me-second">ABOUT</a></div>
                    <div class="menu-item"><a href="#portfolio">PORTFOLIO</a></div>
                </div>
            
        </div>
        <div class="menuText">
            <a routerLink="/">HOME</a>
            <a href="#about-me-second">ABOUT</a>
            <a href="#portfolio">PORTFOLIO</a>
            <!--<a routerLink="/data-protection">Data protection</a>-->
            <!--<a href="#">Curriculum</a>-->
            <!--<a href="#">Projects</a>-->
            <!--<a routerLink="/imprint">Imprint</a>-->
        </div>
    </div>
</header>