<div class="skills" id="skills">

    <div class="titel">
        Skills
    </div>
    <div class="skills-info">
        <div class="skill-row">
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill1
            </div>
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill2
            </div>
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill3
            </div>

        </div>
        <div class="skill-row">
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill4
            </div>
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill5
            </div>
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill6
            </div>
        </div>

        <div class="skill-row">
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill7
            </div>
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill8
            </div>
            <div class="skill-cont">
                <img class="icon" src="./../../assets/img/logo_black.png">
                skill9
            </div>
        </div>


    </div>
</div>