.skills {

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: center;
    background-color: rgb(30, 30, 30);

    .skills-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
    
    
        .titel {
            padding-top: 30px;
            padding-bottom: 10px;
            color: white;
            font-size: 30px;
        }
    
    
        .skills-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            max-width: 1200px;
        
            flex-wrap: wrap;
    
        }
    
        .titel {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100vw;
            max-width: 100%;
    
        }
    
        .skill-row {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            
        }
    
        .skill-cont {
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: white;
            height: 135px;
            width: 200px;
            border-radius: 6px;
            margin-left: 1px;
            margin-right: 1px;
            
        }
    
        .icon-border {
            height: 60px;
            width: 60px;
            position: relative;
            top: -20px;
            left: 75px;
            background-color: white;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        }
    
        .icon {
            height: 40px;
            
        }
        

        .icon-unity{
            margin-left: -5px;

        }
        .skill-text{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            
        }
    }
    
}

@media(max-width: 660px) {
    .skills {

        .skills-container{

            .skills-info {
                display: flex;
                align-items: center;
                justify-content: center;
         
                width: 100%;
                max-width: 1200px;
            
                flex-wrap: wrap;
        
            }

        }

        .skill-cont{
            height: 75px;
            width: 100px;
        }
        .icon-border {
            height: 30px;
            width: 30px;
            left: 35px;

        }
    
        .icon {
            height: 20px;
            
        }
    
        .skill-text{

            text-align: center;
            
        }

        .skill-row {
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
            
        }

    }




}