<div class="about-me-second">
    <div class="about-me-second-top">
        <div class="about-me-second-top-cont">
            picture
        </div>
        <div class="about-me-second-top-cont">
            text
        </div>
    </div>
    <div>
        line
    </div>
    <div class="stories">
        <div class="story">
            storie 1
        </div>

        <div class="story">
            storie 2
        </div>
        <div class="story">
            storie 3
        </div>
        <div class="story">
            storie 4
        </div>

    </div>

</div>
