<div class="about-me-second">

    <div class="about-me-second-container">


        <div class="about-me-second-top">
            <div class="about-me-second-top-cont" data-aos="zoom-in-up" data-aos-duration="2000">

                <div class="about-first-right" data-aos="zoom-in-up" data-aos-duration="2000">

                    <img src="assets/img/osman.png">


                </div>
            </div>
            <div class="about-me-second-top-cont">
                <div class="about-me-second-top-cont-text">
                    <div class="amstc-titel" data-aos="zoom-in-up" data-aos-duration="2000"> <a>About me</a></div>
                    <div class="amstc-txt" data-aos="zoom-in-up" data-aos-duration="2000"><a>Front-end web developer</a>
                    </div>
                </div>


            </div>
        </div>
        <div class="line">

        </div>
        <div class="stories">
            <div class="story">
                <div class="story-pic">
                    <div class="icon-border" data-aos="flip-left" data-aos-duration="2000">
                        <img class="icon" src="assets/img/walk-line.png">
                    </div>
                </div>
                <div class="story-titel">
                    The beginning
                </div>
                <div class="story-text" data-aos="flip-left" data-aos-duration="2000">
                    My journey began with training as an industrial mechanic and further training as a mechanical
                    engineering technician.
                </div>
            </div>

            <div class="story">
                <div class="story-pic">
                    <div class="icon-border" data-aos="flip-left" data-aos-duration="2000">
                        <img class="icon" src="assets/img/heart-line.png">
                    </div>
                </div>
                <div class="story-titel">
                    Passion
                </div>
                <div class="story-text" data-aos="flip-left" data-aos-duration="2000">
                    Because of my passion for computers, i liked cnc programming best in my job.
                </div>
            </div>
            <div class="story">
                <div class="story-pic">
                    <div class="icon-border" data-aos="flip-right" data-aos-duration="2000">
                        <img class="icon" src="assets/img/search-line.png">
                    </div>
                </div>
                <div class="story-titel">
                    Search
                </div>
                <div class="story-text" data-aos="flip-left" data-aos-duration="2000">
                    In my spare time I looked for hobbies that I would do with passion. That's how I got in touch with
                    programming.
                </div>
            </div>
            <div class="story">
                <div class="story-pic">
                    <div class="icon-border" data-aos="flip-right" data-aos-duration="2000">
                        <img class="icon" src="assets/img/flight-takeoff-line.png">
                    </div>
                </div>
                <div class="story-titel">
                    Take of
                </div>
                <div class="story-text" data-aos="flip-left" data-aos-duration="2000">

                    As a Junior Fron-end web developer I have built I variety of projects including simple websites,
                    OOP-based Jump-And-Run amges and complex business applications.
                </div>
            </div>

        </div>
    </div>
</div>